<!DOCTYPE html>
<html>
<head>
    <title>Customer Page</title>
    <style>
        /* CSS for styling the table */
        table {
            width: 60%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        /* Style for the quantity cells */
        .quantity-cell {
            background-color: #fff;
            padding: 4px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div></div>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.pname }}</td>
                <td class="quantity-cell">{{ product.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Hello Customer!</h1>
</body>
</html>
